@import '../App.css';


p {
  font-family: "Mukta", sans-serif;
  font-size: 1.5rem;
  line-height: 1.7;
}

p:last-child {
  margin-bottom: 40px;
}

p:nth-child(4) {
  margin-bottom: 40px;
}

/* style the banner and include a Heinz field (Steelers stadium) as the background image */
.top-banner{
  background: linear-gradient(200deg, var(--dark-blue-transparent) 0%, var(--dark-blue-transparent) 100%), url('../images/nominal_computer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  width: 100%;
  min-height: 12em;
  max-height: 40em;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  padding: 0;
  margin: 0;
}

.top-banner h2 {
  background-color: var(--light-blue-transparent);
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 20px;
  color: white;
  font-size: 3rem;
  font-family: 'Source Code Pro`', sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 1px var(--dark-gray);
}

.our-purpose-container {
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 22%);
  max-width: 776px;
}

.about-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: var(--blue-gray);
  font-size: 3rem;
  font-weight: 600;
  margin: 40px 0 24px 0;
}

.leading {
  font-size: 2rem;
  font-weight: 400;
}

.team-container {
  display: flex;
}

.team-pic {
  width: 125px;
  margin: 10px 25px 0 0;
  border-radius: 4px;
  box-shadow: 3.5px 3.7px 9px 0.5px var(--dark-gray);
}

.team-description {
  margin: 10px 0 0 15px;
}

.about-link {
  text-decoration: none;
  color: var(--blue-gray);
  cursor: pointer;
  font-weight: 650;
}


@media screen and (max-width: 872px) {
  .about-page {
    height: 1500px;
  }

  .top-banner h2 {
    font-size: 2rem;
  }

  p {
    line-height: 1.1;
    font-size: 1.2rem;
  }

  .leading {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
  }

  .about-header {
    font-size: 2rem;
    margin-top: 30px;
  }

  .top-banner {
    padding-top: 110px;
  }

  .our-purpose-container {
    padding-top: 10px;
  }

  .team-pic {
    max-width: 75px;
    float: left;
    height: auto;
    margin: 10px 12px 0 0;
    box-shadow: 1.5px 1.7px 5px 0.5px var(--dark-gray);
  }

  .team-container {
    display: block;
    float: left;
  }

  .team-description {
    margin-left: 0;
  }
}