@import '../App.css';

.formContainer{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 400px; 
  background: var(--gray);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  color: var(--dark-gray);
  border-radius: 10px;
  padding: 30px 40px;
}

#registerContainer {
  width: 400px; 
  background: var(--yellow);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  color: var(--dark-gray);
  border-radius: 10px;
  padding: 30px 40px;
}

.loginContainer h1 {
  font-size: 42px;
  text-align: center;
}

.loginContainer .inputBox {
  position: relative;
  width: 100%;
  height: 75px;
  margin: 30px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--dark-gray);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: var(--dark-gray);
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
  color: var(--dark-gray);
}

.inputBox input:focus {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#registerContainer .inputBox input:focus {
  background-color: var(--white);
  border: 2px solid var(--dark-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.inputBox .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.loginContainer .rememberForgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.rememberForgot label input {
  accent-color: var(--dark-gray);
  margin-right: 4px;
}

.rememberForgot a {
  color: var(--dark-gray);
  text-decoration: none;
}

.rememberForgot a:hover {
  text-decoration: underline;
}

.loginContainer button {
  width: 100%;
  height: 45px;
  color: var(--dark-gray);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.15s ease-in;
}

.loginContainer button:hover {
  box-shadow: 0 0 10px var(--dark-gray);
  background-color: var(--white);
}

#registerContainer button {
  width: 100%;
  height: 45px;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 40px;
  background-color: var(--dark-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.15s ease-in;
}

#registerContainer button:hover {
  box-shadow: 0 0 10px var(--dark-gray);
}

.loginContainer .registerLink {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a {
  color: var(--dark-gray);
  text-decoration: none;
}

.registerLink p a:hover {
  text-decoration: underline;
  text-shadow: 0 0 1.9px var(--yellow), 0 0 1.9px var(--yellow), 0 0 1.9px var(--yellow);
}

.errorMessage {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0 5px 0;
  background-color: var(--dark-gray);
  border-radius: 8px;
  color: white;
  font-weight: 800;
}

.warning {
  justify-content: center;
}

@media screen and (max-width: 872px) {
  .loginContainer {
    margin-top: 24px;
  }
  
}