.pageBody {
  /* overflow-y: auto; */
  min-height: 750px;
  height: calc(150vh);
  padding: 70px 0 0;
  margin: 0 auto;
  font-size: 1.4rem;
}

@media screen and (max-width: 1366px) {
  .pageBody {    
    padding: 2.5rem 2rem 5rem;

  }
}

  @media screen and (max-width: 862px) {
  .pageBody {
    overflow-y: scroll;
    padding: 8rem 5.5rem 6rem 5rem;
    height: 500px;
  }
}


